.profile {
  width: 100%;
  grid-gap: 30px;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.section {
  text-align: left;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 30px;
  height: 100%;
  width: 100%;
}
.title_s {
  margin-bottom: 30px;
}
.s_1 {
  width: 100%;
  display: flex;
  flex: auto;
  gap: 30px;
}
@media screen and (max-width: 968px) {
  .s_1 {
    width: 100%;
    display: flex;
    flex: auto;
    gap: 30px;
    flex-direction: column;
  }
}

.profile_left {
  width: 100%;
}
.chqnge_pwd {
  grid-column-end: span 6;
  width: 100%;
}
.profile_right {
  grid-column-end: span 16;
  flex: 16;
  min-height: 512px;
}

.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  flex-direction: column;
}

.name_user {
  font-size: 15px;
}
.email_user {
  font-size: 14px;
}
label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: #969696;
}
.input_user {
  margin-top: 7px;
  margin-bottom: 20px;
}

/* //cards */
.cards_c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 10px;
}
.card_c {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  /* flex-direction: column; */
  gap: 20px;
  border: 1px solid #dadada;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}
.title_c {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.key_order {
  color: #db7092;
}
@media screen and (max-width: 968px) {
  .profile {
    flex-wrap: wrap;
  }
  .profile_left,
  .profile_right {
    width: 100%;
    flex: none;
  }
}
